@media screen and (max-width: 1130px){
    .logos {
        max-width: 460px;
    }
}
@media screen and (max-width: 1000px){
    .services p{
        padding: 0 3em;
    }
    .portfolio a{
        position: relative;
        padding-bottom: 1.5em;
    }
    .portfolio a img{
        margin-bottom: 3em;
    }
    .portfolio .description{
        position: absolute;
        top: 36px;
        left: 0;
    }
    .about_us .line span{
        background-color: transparent;
    }
}
@media screen and (min-width: 992px){
    .portfolio .unvisible_medium_size{
        display: none;
    }
    .right{
        text-align: right;
    }
}
@media screen and (max-width: 992px) {
    .my_title {
        padding-top: 2em;
    }
    .about_us p.some_text {
        font-size: 1em;
    }
    .header .main_menu{
        display: none;
    }
    .header .main_menu ul{
        max-width: 150px;
        position: absolute;
        right: 25px;
        top: 88px;
        padding: 0;
        height: 0px;
        transition: height 0.5s linear 0s;
    }
    .header .main_menu ul li{
        display: block;
        padding: 0.5em 0.95em;
        background: rgba(254, 209, 54, 0.5);
    }
    .header .main_menu ul li:hover{
        background-color: #fed136;
        transition: all ease-in-out 0.4s;
    }
    .header .main_menu ul li a:hover{
        color: #fff;
    }
    .header .main_menu ul li a span{
        display: inline-block;
    }
    .header .unvisible_menu{
        display: inline-block;
        height: 2em;
        width: 2em;
        float: right;
        margin: 15px 70px 0 0;
        font-size: 2em;
        color: #fed136;
        cursor: pointer;
    }
    .portfolio .unvisible_small_size{
        display: none;
    }
    .footer p{
        top: 1.5em;
        max-width: 10em;
    }
}
@media screen and (max-width: 600px){
    .header .unvisible_menu {
        margin-right: 5%;
    }
    .contact_header .sub_title{
        padding-bottom: 1em;
    }
    .contact_left {
        display: block;
        max-width: 100%;
        padding: 0;
    }
    .contact_left input{
        width: 96%;
        margin: 0.8em 2%;
    }
    .contact_right {
        display: block;
        width: 100%;
        padding-top: 0;
    }
    .contact_right textarea {
        width: 96%;
        height: 8em;
        margin: 0.8em 2% 2em 2%;
    }
    .footer p{
        top: 6em;
        width: 90%;
        max-width: 100%;
        font-size: 0.8em;
        text-align: center;
    }
}
@media screen and (max-width: 500px){
    h1.main_header{
        font-size: 4em;
    }
    .logos {
        max-width: 300px;
    }
}
@media screen and (max-width: 400px){

}