@font-face {
font-family: 'DroidSerif-Italic';

src: url('../fonts/DroidSerifItalic/DroidSerif-Italic.eot');
src: url('../fonts/DroidSerifItalic/DroidSerif-Italic.eot?#iefix') format('embedded-opentype'),

url('../fonts/DroidSerifItalic/DroidSerif-Italic.woff') format('woff'),

url('../fonts/DroidSerifItalic/DroidSerif-Italic.ttf') format('truetype');

font-weight: normal;
font-style: normal;

}

@font-face {
font-family: 'Montserrat-Bold';
src: url('../fonts/MontserratBold/Montserrat-Bold.eot');
src: url('../fonts/MontserratBold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/MontserratBold/Montserrat-Bold.woff') format('woff'),
url('../fonts/MontserratBold/Montserrat-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;

}

@font-face {
font-family: 'Montserrat-Regular';
src: url('../fonts/MontserratRegular/Montserrat-Regular.eot');
src: url('../fonts/MontserratRegular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/MontserratRegular/Montserrat-Regular.woff') format('woff'),
url('../fonts/MontserratRegular/Montserrat-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;

}

@font-face {
font-family: 'RobotoSlab-Regular';
src: url('../fonts/RobotoSlabRegular/RobotoSlab-Regular.eot');
src: url('../fonts/RobotoSlabRegular/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/RobotoSlabRegular/RobotoSlab-Regular.woff') format('woff'),
url('../fonts/RobotoSlabRegular/RobotoSlab-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;

}

@font-face {
font-family: 'Wisdom-Script';

src: url('../fonts/WisdomScript/Wisdom-Script.woff') format('woff'),
url('../fonts/WisdomScript/Wisdom-Script.ttf') format('truetype');
font-weight: normal;
font-style: normal;

}

@font-face {
font-family: 'WisdomScript';
src: url('../fonts/WisdomScript/WisdomScript.eot');
src: url('../fonts/WisdomScript/WisdomScript.eot?#iefix') format('embedded-opentype');
font-weight: normal;
font-style: normal;

}

a:hover {
    text-decoration: none;
}


/* HEADER */

.top_wrap{
    display: block;
    width: 100%;
    background-color: #42403f;
    background: linear-gradient(to top, #29292e, #4a4645);
}
.top{
    height: 700px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    background-image: url(../img/header_bg.jpg);
    background-repeat: no-repeat;
}
.header{
    width: 100%;
    margin: 0 auto;
    padding-top: 2em;
}
.logo{
    display: inline-block;
    font-family: 'Wisdom-Script';
    font-size: 2.2em;
    margin-left: 10%;
}
.logo a{
    color: #fed136;
}
.header .unvisible_menu{
        display: none;
    }
.main_menu{
    padding-left: 25%;
    display: inline-block;
}
.main_menu ul li{
    display: inline;
    list-style-type: none;
    padding: 0.625em 0.95em;
    transition: all ease-in-out 0.4s;
}
.main_menu ul li a{
    color:#fff;
    font-size: 1em;
    font-family: 'Montserrat-Regular';
    transition: color 0.5s ease;
}
.main_menu ul li a span{
    font-size: 1.5em;
    padding-right: 0.5em;
    display: none;
}
.main_menu ul li a:hover{
    color: #fed136;
    transition: color 0.5s ease;
}
.welcome{
    color: #fff;
    font-family: 'DroidSerif-Italic';
    text-align: center;
    font-size: 2.8em;
    padding-top: 5em;
}
.main_header{
    color: #fff;
    text-align: center;
    font-family: 'Montserrat-Bold';
    font-size: 5em;
    padding: 0 0 0.7em;;
}
.buttons{
    width: 15em;
    height: 4em;
    border-radius: 0.2em;
    background-color: #fed136;
    text-align: center;
    display: block;
    margin: 0 auto;
}
/*.buttons:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}*/
.buttons a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: 'Montserrat-Bold';
    font-size: 130%;
    line-height: 3.2em;
}
.my_title{
    padding-top: 3em;
    font-size: 3em;
    font-family: 'Montserrat-Bold';
    text-align: center;
    color: #222222;
}
.sub_title{
    font-family: 'DroidSerif-Italic';
    font-size: 1.1em;
    text-align: center;
    padding-bottom: 3em;
}

/* SERVICES */

.services{
    padding-bottom: 4.5em;
}
.icons{
    display: block;
    width: 75px;
    height: 73px;
    margin: 0 auto;
    margin-bottom: 1.25em;
    margin-top: 2em;
    border: 2px solid #fed136;
    border-radius: 100%;
}
.icon_1 img, .icon_3 img, .icon_2 img{
    height: 45px;
    margin-top: 12px;
}
h6{
    font-family: 'Montserrat-Bold';
    font-size: 1.5em;
}

/* PORTFOLIO */
.portfolio{
    background-color: #f9f9f9;
    padding-bottom: 4.5em;
}
.portfolio a h6{
    color: #333333;
}
.portfolio a p{
    color: #737373;
}
.portfolio img{
    width: 18em;
}
.portfolio .description{
    display: inline-block;
    width: 18em;
    height: 6em;
    background-color: #fff;
    text-align: center;
    margin-bottom: 6em;
}
.portfolio .description h6{
    padding-top: 0.5em;
}
.portfolio .description p{
    font-family: 'DroidSerif-Italic';
    font-size: 1.1em;
}

/* ABOUT US */

.about_us{
    padding-bottom: 7em;
}
.about_us img{
    border: 0.5em solid #f1f1f1;
    border-radius: 50%;
    max-width: 100%;
}
.about_us a{
    transition: opacity ease-in-out 0.5s;
}
.about_us a:hover{
    opacity: 0.5;
    transition: opacity ease-in-out 0.5s;
}
.about_us h5{
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
    font-size: 1.5em;
    color: #222222;
}
.about_us p.some_text{
    max-height: 6em;
    font-family: 'RobotoSlab-Regular';
    font-size: 0.875em;
    color: #777777;
}
.about_us .line{
    width: 100%;
    text-align: center;
}
.about_us .line span{
    display: block;
    height: 5.4em;
    width: 2px;
    background-color: #f1f1f1;
    margin: 0 auto;
}
.about_us .about_us_last_item{
    width: 183px;
    height: 183px;
    border-radius: 50%;
    background-color: #fed136;
    border: 0.5em solid #f1f1f1;
    margin: 0 auto;
    transition: opacity ease-in-out 0.5s;
}
.about_us .about_us_last_item:hover{
    opacity: 0.5;
    transition: opacity ease-in-out 0.5s;
}
.about_us .about_us_last_item p{
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
    font-size: 1.5em;
    color: #fff;
    padding-top: 1.25em;
}

/* OUR TEAM */

.our_team{
    width: 100%;
    background-color: #f9f9f9;
    padding-bottom: 4.5em;
}
.our_team img{
    height: 15em;
    width: 15em;
    border-radius: 50%;
    border: 0.5em solid #fff;
}
.our_team .name{
    font-size: 1.4em;
    color: #222;
    margin: 1.25em 0 0;
}
.our_team .team_position{
    font-family: 'RobotoSlab-Regular';
    font-size: 1.2em;
    color: #777777;
}
.our_team .socials ul{
    padding-left: 0;
    margin-bottom: 2em;
}
.our_team .socials ul li{
    list-style-type: none;
    display: inline-block;
    height: 42px;
}
.our_team .socials ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.our_team .socials ul li span{
    display: inline-block;
    background-image: url(../img/socials_sprite_our_team.png);
    width: 42px;
    height: 41px;
}
/*.our_team .socials ul li span:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}*/
.our_team .socials ul li .twiter{
    background-position: 0 0;
}
.our_team .socials ul li .facebook{
    background-position: -104px 0;
}
.our_team .socials ul li .pinterest{
    background-position: -154px 0;
}
.our_team .socials ul li .google{
    background-position: 144px 0;
}
.team_description{
    font-family: 'RobotoSlab-Regular';
    font-size: 1em;
    color: #777;
    padding-top: 1.5em;
    margin-bottom: 4em;
}

/* LOGOS */
.logos {
    margin: 0 auto;
    max-width: 73%;
    padding: 2.3em 0;
    margin-bottom: -20px;
    width: 850px;
}
.logos ul li{
    list-style-type: none;
    display: inline-block;
    padding: 1em;
}
/* CONTACTS */
.contact{
    display: block;
    width: 100%;
    height: 670px;
    background: #222 url(../img/map_bg.png) 110% 300% no-repeat;
}
.contact .my_title{
    color: #fff;
}
.contact .sub_title{
    color: #777;
}
.contact_form{
    display: block;
    height: 350px;
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Montserrat-Bold';
    font-size: 1em;
    color: #bbb;
}
.contact_left{
    display: inline-block;
    max-width: 50%;
    padding: 1.5em;
    vertical-align: top;
}
.contact_left input{
    width: 100%;
    height: 3.5em;
    margin: 0.8em;
    border: none;
    border-radius: 5px;
    padding-left: 1.5em;
    text-transform: uppercase;
    outline-color: #fed136;
}
.contact_right{
    vertical-align: top;
    display: inline-block;
    width: 43%;
    padding-top: 1.5em;
}
.contact_right textarea{
    width: 100%;
    height: 13.68em;
    border: none;
    border-radius: 5px;
    margin: 0.8em;
    text-transform: uppercase;
    padding-left: 1.5em;
    padding-top: 1.5em;
    outline-color: #fed136;
    resize: horizontal;
}
.contact_form .buttons input{
    border: none;
    background-color: transparent;
    color: #fff;
    font-family: 'Montserrat-Bold';
    font-size: 130%;
    line-height: 3.2em;
    text-transform: uppercase;
    border-style: none;
    border-color: transparent;
    outline: none;
}
input:active{
    outline: none;
}

/* FOOTER */
.footer{
    position: relative;
    width: 900px;
    margin: 0 auto;
    max-width: 100%;
}
.footer p{
    position: absolute;
    left: 2em;
    top: 2.5em;
    color: #555;
    font-size: 1em;
    font-family: 'Montserrat-Regular';
}
.footer .all_socials{
    display: block;
    margin: 0 auto;
}
.all_socials ul{
    margin: 0 auto;
    width: 22em;
}
.all_socials ul li{
    list-style-type: none;
    display: inline-block;
    margin: 1.5em 0.5em;
    height: 42px;
}
.all_socials ul li a{
    display: inline-block;
    height: 42px;
}
.all_socials ul li span{
    display: inline-block;
    width: 42px;
    height: 42px;
    background-image: url(../img/socials_sprite_bottom.png);
}
.all_socials ul li span.facebook{
    background-position: -50px 0;
}
.all_socials ul li span.pinterest{
    background-position: -100px 0;
}
.all_socials ul li span.google{
    background-position: 42px 0;
}
/*.all_socials ul li span:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}*/

#toTop {
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    cursor: pointer;
    display: none;
    color: #fed136;
    font-size: 3em;
    transform: rotate(-90deg);
}
