@font-face {
font-family: 'Montserrat-Regular';
src: url('../fonts/MontserratRegular/Montserrat-Regular.eot');
src: url('../fonts/MontserratRegular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/MontserratRegular/Montserrat-Regular.woff') format('woff'),
url('../fonts/MontserratRegular/Montserrat-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;

}

