@font-face {
font-family: 'RobotoSlab-Regular';
src: url('../fonts/RobotoSlabRegular/RobotoSlab-Regular.eot');
src: url('../fonts/RobotoSlabRegular/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/RobotoSlabRegular/RobotoSlab-Regular.woff') format('woff'),
url('../fonts/RobotoSlabRegular/RobotoSlab-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;

}

