@font-face {
font-family: 'DroidSerif-Italic';

src: url('../fonts/DroidSerifItalic/DroidSerif-Italic.eot');
src: url('../fonts/DroidSerifItalic/DroidSerif-Italic.eot?#iefix') format('embedded-opentype'),

url('../fonts/DroidSerifItalic/DroidSerif-Italic.woff') format('woff'),

url('../fonts/DroidSerifItalic/DroidSerif-Italic.ttf') format('truetype');

font-weight: normal;
font-style: normal;

}

