@font-face {
font-family: 'Wisdom-Script';

src: url('../fonts/WisdomScript/Wisdom-Script.woff') format('woff'),
url('../fonts/WisdomScript/Wisdom-Script.ttf') format('truetype');
font-weight: normal;
font-style: normal;

}


@font-face {
font-family: 'WisdomScript';
src: url('../fonts/WisdomScript/WisdomScript.eot');
src: url('../fonts/WisdomScript/WisdomScript.eot?#iefix') format('embedded-opentype');
font-weight: normal;
font-style: normal;

}

